/* static/chatapp/css/styles.css */

/* class—name*/
.mode_switch {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}

/*确定switch这个本体的位置，而非样式*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/*隐藏原生的复选框*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*使用指定的slider样式*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


